/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* INPUT PASSWORD */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #292936;
}

/* Estilizando o input do tipo password */

.caixa-texto {
  position: relative;
  background-color: #3b3bee;
  padding: 1.55rem 1.45rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  column-gap: .85rem;
}

/* Estilo para as tags i com os icones */

.input__lock,
.input__icon {
  font-size: 1.35rem;
  z-index: 1;
}

.input__lock,
.caixa-texto__senha {
  color: hsl(232, 100%, 99%);
}

.input__icon {
  color: hsl(232, 54%, 43%);
  cursor: pointer;
}

.caixa-texto__senha {
  background: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  z-index: 1;
}

.caixa-texto__senha::placeholder {
  color: hsl(232, 100%, 99%);
}

.caixa-texto__sobreposicao {
  width: 35px;
  height: 35px;
  background-color: hsl(232, 100%, 99%);
  position: absolute;
  right: .9rem;
  border-radius: 50%;
  z-index: 0;
  transition: .4s ease-in-out;
}

/* Efeito de transição */
.sobreposicao-content {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  right: 0;
}

.sobreposicao-content~.input__lock {
  color: #292936;
}

.sobreposicao-content~.caixa-texto__senha,
.sobreposicao-content~.caixa-texto__senha::placeholder {
  color: hsl(232, 8%, 35%);
}